

#============= cnd ==============
#iallow cnd default_android_hwservice:hwservice_manager add;

#============= dataservice_app ==============
#allow dataservice_app default_android_hwservice:hwservice_manager find;

#============= fsck ==============
allow fsck self:capability sys_admin;

#============= hal_dpmQmiMgr ==============
allow hal_dpmQmiMgr sysfs:file read;

#============= hal_nfc_default ==============
#allow hal_nfc_default default_android_hwservice:hwservice_manager { add find };
allow hal_nfc_default nfc_vendor_data_file:dir write;

#============= hal_wifi_supplicant_default ==============
allow hal_wifi_supplicant_default self:capability sys_admin;

#============= healthd ==============
allow healthd self:capability sys_admin;

#============= hvdcp ==============
allow hvdcp self:capability sys_admin;

#============= init ==============
#allow init rootfs:file execute_no_trans;
allow init su:process { rlimitinh siginh };

#============= installd ==============
allow installd adsprpcd_file:filesystem quotaget;

#============= mediacodec ==============
allow mediacodec perfd_data_file:dir search;

#============= mm-qcamerad ==============
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad sysfs:file read;

#============= netd ==============
allow netd self:capability sys_admin;

#============= netutils_wrapper ==============
#:allow netutils_wrapper self:capability sys_admin;

#============= qti_init_shell ==============
#allow qti_init_shell self:capability { dac_override dac_read_search };

#============= readfem ==============
allow readfem self:capability sys_admin;

#============= readmac ==============
allow readmac self:capability sys_admin;

#============= rfs_access ==============
allow rfs_access self:capability sys_admin;

#============= rild ==============
allow rild tombstone_data_file:dir search;

#============= rmt_storage ==============
allow rmt_storage self:capability sys_admin;

#============= tee ==============
allow tee system_data_file:dir write;

#============= time_daemon ==============
allow time_daemon self:capability sys_admin;
allow time_daemon sysfs:file read;

#============= untrusted_app_25 ==============
allow untrusted_app_25 app_data_file:dir search;

#fortnite udp
allow untrusted_app_25 self:udp_socket ioctl;

#============= untrusted_app_27 ==============
allow untrusted_app_27 self:unix_stream_socket connectto;

#============= vdc ==============
allow vdc self:capability sys_admin;

#============= vendor_init ==============
allow vendor_init perfd_data_file:file unlink;
allow vendor_init proc_dirty_ratio:file write;
allow vendor_init rootfs:dir write;
allow vendor_init tmpfs:dir write;

#============= wcnss_service ==============
allow wcnss_service sysfs:file write;
