allow netmgrd netmgr_data_file:dir rw_dir_perms;
allow netmgrd netmgr_data_file:file create_file_perms;
allow netmgrd sysfs:file {open read};
set_prop(netmgrd, vendor_xlat_prop)
#============= hal_camera_default ==============
allow hal_camera_default hal_power_default:binder call;
allow hal_camera_default perfd_data_file:sock_file write;

#============= hal_nfc_default ==============
#allow hal_nfc_default default_android_hwservice:hwservice_manager find;

#allow cnd object_r:hwservice_manager add;
allow hal_nfc_default nfc_vendor_data_file:dir search;

#============= init ==============
#allow init rootfs:file execute_no_trans;
allow init su:process transition;

#============= netmgrd ==============
allow netmgrd self:capability sys_admin;

#============= netutils_wrapper ==============
#allow netutils_wrapper self:capability sys_admin;

#============= qfp-daemon ==============
allow qfp-daemon sensors_persist_file:dir search;

#============= vold_prepare_subdirs ==============
allow vold_prepare_subdirs self:capability sys_admin;

set_prop(netmgrd, system_prop);
