allow atfwd sysfs:file read;
allow cnd system_prop:property_service set;
allow hal_dpmQmiMgr sysfs:file { open read };
allow hal_gnss_qti property_socket:sock_file write;
allow hal_health_default mnt_vendor_file:dir write;
allow hal_health_default mnt_vendor_file:file { getattr open read };
allow hal_rcsservice sysfs:file { open read };
allow hal_rcsservice system_prop:property_service set;
allow hal_sensors_default mnt_vendor_file:file { getattr open read };
allow hal_sensors_default system_prop:property_service set;
allow ims sysfs:file open;
allow ims system_prop:property_service set;
allow init su:process noatsecure;
allow init sysfs_dm:file write;
allow init_panel self:capability sys_admin;
allow irsc_util self:capability sys_admin;
allow isolated_app app_data_file:dir getattr;
allow location sysfs:file { open read };
allow location system_prop:property_service set;
allow location wcnss_prop:file read;
allow mediacodec perfd:unix_stream_socket connectto;
allow mm-qcamerad mnt_vendor_file:file { open read };
allow netmgrd system_prop:property_service set;
allow perfd mediacodec:process signull;
allow priv_app proc:file { getattr open };
allow priv_app proc_modules:file { getattr open };
allow priv_app sysfs:file read;
allow priv_app sysfs:file { open read };
allow qfp-daemon media_rw_data_file:dir { open read search };
allow qfp-daemon mnt_user_file:dir search;
allow qfp-daemon mnt_user_file:lnk_file read;
allow qfp-daemon sdcardfs:dir search;
allow qfp-daemon storage_file:lnk_file read;
allow qti sysfs:file { open read };
allow qti_init_shell vendor_radio_data_file:dir search;
allow rfs_access mnt_vendor_file:file { open read };
allow rfs_access mnt_vendor_file:file { read unlink };
allow rild system_prop:property_service set;
allow sensors mnt_vendor_file:file getattr;
allow sensors mnt_vendor_file:file { read write };
allow sensors property_socket:sock_file write;
allow sensors sysfs:file read;
allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr open read };
allow system_app vold:binder call;
allow system_app wificond:binder call;
allow tee mnt_vendor_file:file { getattr open read };
allow thermal-engine self:capability sys_admin;
allow time_daemon mnt_vendor_file:file { open read write };
allow time_daemon sysfs:file open;
allow toolbox init:unix_stream_socket connectto;
allow toolbox property_socket:sock_file write;
allow untrusted_app vendor_camera_prop:file read;
allow untrusted_app_25 proc_kernel_sched:file getattr;
allow untrusted_app_25 proc_sched:file getattr;
allow untrusted_app_25 proc_touchpanel:dir search;
allow untrusted_app_25 sysfs:dir { open read };
allow untrusted_app_25 sysfs:file getattr;
allow untrusted_app_25 sysfs_leds:dir search;
allow untrusted_app_27 proc_zoneinfo:file { getattr open read };
allow untrusted_app_27 self:udp_socket ioctl;
allow untrusted_app_27 sysfs:dir read;
allow untrusted_app_27 sysfs:file { getattr };
allow untrusted_app_27 sysfs_battery_supply:dir { open read };
allow untrusted_app_27 sysfs_batteryinfo:dir search;
allow untrusted_app_27 sysfs_net:dir search;
allow untrusted_app_27 vold_exec:file { open read };
allow vendor_init proc_dirty:file write;
allow vendor_init tmpfs:dir create;
allow webview_zygote zygote:unix_dgram_socket write;
